<div id="Bloodsample" ng-controller="bloodsampleController as vm">

   <section class="padding-horizontal-50 top-margin">
        <div style="width: 100%">
            <label class="item item-input">
                <span class="input-label" translate>bloodsamples.leukocytes</span>
                <input id="inputLeukocytter"
                       type="number"
                       min="0"
                       style="direction: rtl;"
                       ng-model="vm.registration.Leukocytter">
                <span class="input-label measurement-label">10<sup>9</sup> L</span>
            </label>

            <label class="item item-input">
                <span class="input-label" translate>bloodsamples.neutrophiles</span>
                <input id="inputNeutrofile"
                       type="number"
                       min="0"
                       style="direction: rtl;"
                       ng-model="vm.registration.Neutrofile">
                <span class="input-label measurement-label">10<sup>9</sup> L</span>
            </label>

            <label class="item item-input">
                <span class="input-label" translate>bloodsamples.thrombocytes</span>
                <input id="inputThrombocytter"
                       type="number"
                       min="0"
                       style="direction: rtl;"
                       ng-model="vm.registration.Thrombocytter">
                <span class="input-label measurement-label">10<sup>9</sup> L</span>
            </label>

            <label class="item item-input">
                <span class="input-label" translate>bloodsamples.hemoglobin</span>
                <input id="inputHemoglobin"
                       type="number"
                       min="0"
                       style="direction: rtl;"
                       ng-model="vm.registration.Hemoglobin">
               <span class="input-label measurement-label">mmol/L</span>
            </label>

            <label class="item item-input">
               <span class="input-label" translate>bloodsamples.alat</span>
                <input id="inputAlat"
                       type="number"
                       min="0"
                       style="direction: rtl;"
                       ng-model="vm.registration.Alat">
                <span class="input-label measurement-label">U/L</span>
            </label>

            <label class="item item-input">
                <span class="input-label" translate>bloodsamples.crp</span>
                <input id="inputCRP"
                       type="number"
                       min="0"
                       style="direction: rtl;"
                       ng-model="vm.registration.CRP">
                <span class="input-label measurement-label">mg/L</span>
            </label>
        </div>
    </section>

</div>
