<div id="Bloodsample" ng-controller="bloodsampleController as vm">

   <section class="padding-horizontal-50 top-margin">
        <div style="width: 100%">
            <label class="item item-input">
                <span class="input-label">Leukocytter</span>
                <input id="inputLeukocytter"
                       type="number"
                       style="direction: rtl;"
                       ng-model="vm.registration.Leukocytter">
                <span class="input-label">10<sup>9</sup> L</span>
            </label>

            <label class="item item-input">
                <span class="input-label">Neutrofile</span>
                <input id="inputNeutrofile"
                       type="number"
                       style="direction: rtl;"
                       ng-model="vm.registration.Neutrofile">
                <span class="input-label">10<sup>9</sup> L</span>
            </label>

            <label class="item item-input">
                <span class="input-label">Thombocyt</span>
                <input id="inputThrombocytter"
                       type="number"
                       style="direction: rtl;"
                       ng-model="vm.registration.Thrombocytter">
                <span class="input-label">10<sup>9</sup> L</span>
            </label>

            <label class="item item-input">
                <span class="input-label">Hæmoglobin</span>
                <input id="inputHemoglobin"
                       type="number"
                       style="direction: rtl;"
                       ng-model="vm.registration.Hemoglobin">
               <span class="input-label">mmol/L</span>
            </label>

            <label class="item item-input">
               <span class="input-label">ALAT</span>
                <input id="inputAlat"
                       type="number"
                       style="direction: rtl;"
                       ng-model="vm.registration.Alat">
                <span class="input-label">U/L</span>
            </label>

            <label class="item item-input">
                <span class="input-label">CRP</span>
                <input id="inputCRP"
                       type="number"
                       style="direction: rtl;"
                       ng-model="vm.registration.CRP">
                <span class="input-label">mg/L</span>
            </label>
        </div>
    </section>

</div>
