<div style="width: 100%" class="top-margin padding-horizontal-50"
     ng-controller="singleQuestionController as vm">

    <div class="qwiz-container">
        <h3 class="center-horizontal">{{vm.question}}</h3>
        <br>

        <div class="padding-horizontal-50">
            <button ng-repeat="answer in vm.answers"
                    ng-click="vm.selectAnswer(answer)"
                    ng-class="{
                'button-dark': vm.isSelected(answer),
                'button-stable': !vm.isSelected(answer),
                'button button-block button-border button-answer': true}">{{answer}}
            </button>
        </div>
    </div>
</div>
