<div class="center-horizontal top-margin"
     ng-controller="sliderController as vm">

    <div class="qwiz-container">
        <h3>{{ vm.question }}</h3>


        <div class="range range-positive padding-horizontal-50">
            <i class="icon ion-sad-outline slider-smiley" ng-if="vm.smiley"></i>
            <rzslider rz-slider-model="vm.slider.value"
                      rz-slider-options="vm.slider.options" class="custom-slider"></rzslider>
            <i class="icon ion-happy-outline slider-smiley" ng-if="vm.smiley"></i>
        </div>
        <div class="row">
        <span class="col slider-desc" style="text-align: left">
            {{ vm.negativeText }}
        </span>
            <span class="col slider-desc" style="text-align: right">
                {{ vm.positiveText }}
            </span>
        </div>

    </div>
</div>


