.eventPasswordInput {
    border: 1px solid red;
    background: palegoldenrod;
}

.login-link-text {
    color: white;
}

login-buttons {
    margin-left: 10px;
    margin-top: 5px;
}

.login-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-width: 250px;
    vertical-align: middle;
}