<ion-view view-title="Teambuilding feedback" ng-controller="loginController as vm" hide-back-button="true">
    <ion-content scroll="false" class="default-background">

        <div class="login-container">
            <h3>Welcome!</h3>

            <!--div class="row">
                <div class="col">
                    <button class="button button-block button-outline button-calm">
                        Register
                    </button>
                </div>
                <div class="col">
                    <button class="button button-block button-clear button-calm">
                        Login
                    </button>
                </div>
            </div-->


            <div class="list">
                <form>
                    <label class="item item-input">
                        <input type="email" placeholder="E-mail" id="login-email" ng-model="vm.email">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Password" id="login-password" ng-model="vm.password">
                    </label>

                    <button type="submit" class="button button-block button-positive" id="submit"
                            ng-click="vm.submit()">Enter
                    </button>
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>
