<div id="MucositisType" class="padding-horizontal"
     ng-controller="mucositisController as vm">
    <div>
        <h4 translate>mucositis.pain</h4>
        <div name="Smerte" class="row responsive-md">
            <div class="col">
                <button ng-click="vm.setDiagnosis(0,0)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[0]===0,
                        'button-stable':vm.registration.diagnosis[0]!==0,
                        'button button-block mucositis-button': true}" translate>
                    mucositis.painQ0
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(0,1)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[0]===1,
                        'button-stable':vm.registration.diagnosis[0]!==1,
                        'button button-block mucositis-button': true}" translate>
                    mucositis.painQ1
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(0,2)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[0]===2,
                        'button-stable':vm.registration.diagnosis[0]!==2,
                        'button button-block mucositis-button': true}" translate>
                    mucositis.painQ2
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(0,3)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[0]===3, 
                        'button-stable':vm.registration.diagnosis[0]!==3, 
                        'button button-block mucositis-button': true}" translate>
                    mucositis.painQ3
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(0,4)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[0]===4, 
                        'button-stable':vm.registration.diagnosis[0]!==4, 
                        'button button-block mucositis-button': true}" translate>
                    mucositis.painQ4
                </button>
            </div>
        </div>
    </div>
    <div>
        <h4 translate>mucositis.soresAndRedness</h4>
        <div name="Smerte" class="row responsive-md">
            <div class="col">
                <button ng-click="vm.setDiagnosis(1,0)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[1]===0, 
                        'button-stable':vm.registration.diagnosis[1]!==0, 
                        'button button-block mucositis-button': true}" translate>
                    mucositis.soresQ0
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(1,1)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[1]===1, 
                        'button-stable':vm.registration.diagnosis[1]!==1, 
                        'button button-block mucositis-button': true}" translate>
                    mucositis.soresQ1
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(1,2)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[1]===2, 
                        'button-stable':vm.registration.diagnosis[1]!==2, 
                        'button button-block mucositis-button': true}" translate>
                    mucositis.soresQ2
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(1,3)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[1]===3, 
                        'button-stable':vm.registration.diagnosis[1]!==3, 
                        'button button-block mucositis-button': true}" translate>
                    mucositis.soresQ3
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(1,4)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[1]===4, 
                        'button-stable':vm.registration.diagnosis[1]!==4, 
                        'button button-block mucositis-button': true}" translate>
                    mucositis.soresQ4
                </button>
            </div>
        </div>
    </div>
    <div>
        <h4 translate>mucositis.foodIntakeInfluence</h4>
        <div name="Smerte" class="row responsive-md">
            <div class="col">
                <button ng-click="vm.setDiagnosis(2,0)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[2]===0,
                        'button-stable':vm.registration.diagnosis[2]!==0,
                        'button button-block mucositis-button': true}" translate>
                    mucositis.foodIntakeQ0
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(2,1)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[2]===1,
                        'button-stable':vm.registration.diagnosis[2]!==1,
                        'button button-block mucositis-button': true}" translate>
                    mucositis.foodIntakeQ1
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(2,2)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[2]===2,
                        'button-stable':vm.registration.diagnosis[2]!==2,
                        'button button-block mucositis-button': true}" translate>
                    mucositis.foodIntakeQ2
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(2,3)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[2]===3,
                        'button-stable':vm.registration.diagnosis[2]!==3,
                        'button button-block mucositis-button': true}" translate>
                    mucositis.foodIntakeQ3
                </button>
            </div>
            <div class="col">
                <button ng-click="vm.setDiagnosis(2,4)"
                        ng-class="{
                        'button-dark':vm.registration.diagnosis[2]===4,
                        'button-stable':vm.registration.diagnosis[2]!==4,
                        'button button-block mucositis-button': true}" translate>
                    mucositis.foodIntakeQ3
                </button>
            </div>
        </div>
    </div>
    <!--
    <div style="min-height: 150px; height: 25%; width: 100%"></div>
    -->
</div>
