<ion-view view-title="Leukæmi App">
   <ion-nav-buttons side="left">
        <login-buttons></login-buttons>
    </ion-nav-buttons>
   <!-- Settings button -->
   <!--<ion-nav-buttons side="secondary">-->
   <!--<button class="button button-icon ion-android-settings" ng-click="openModal()"></button>-->
   <!--</ion-nav-buttons>-->
    <ion-content ng-controller="frontpageController">
        <div class="row responsive-md bigScreen-topRow">
            <div class="col">
                <calendar></calendar>
            </div>
            <div class="col">
                <div class="card item item-text-wrap frontpage-topcomponent">
                    <div class="row">
                       <div id="calendar-date" class="col-33">
                            <calendar-date></calendar-date>
                        </div>
                       <div class="col">
                            <reminders></reminders>
                        </div>
                    </div>
                    <notes></notes>
                </div>
            </div>
        </div>
        <div class="row responsive-md">
            <div class="col frontpage-col">
                <medicine-card></medicine-card>
            </div>
            <div class="col frontpage-col">
                <bloodsample-card></bloodsample-card>
            </div>
        </div>
        <div class="row responsive-md">
            <div class="col frontpage-col">
                <pain-card></pain-card>
            </div>
            <div class="col frontpage-col">
                <mucositis-card></mucositis-card>
            </div>
        </div>
    </ion-content>
</ion-view>
