<ion-view view-title="How-R-you" ng-controller="frontpageController as vm">
    <!-- Login button -->
    <ion-nav-buttons side="left">
        <login-buttons></login-buttons>
    </ion-nav-buttons>
    <!-- Settings button -->
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-android-settings" ng-click="vm.openModal()"></button>
    </ion-nav-buttons>
    <ion-content class="default-background"
                 delegate-handle="front-page-scroll">
        <div class="row responsive-md bigScreen-topRow">
            <div class="col">
                <div class="card item item-text-wrap frontpage-topcomponent">
                    <div class="row">
                        <div id="calendar-date" class="col-33">
                            <calendar-date></calendar-date>
                        </div>
                        <div class="col">
                            <h1>Event name</h1>
                        </div>
                    </div>
                    <div>More information coming here<br>
                        <b>12:00-14:00</b> Hello<br>
                        <b>16:00-17:00</b> Bye<br>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="module in vm.activeModules" ng-if="$even" class="row responsive-md">
            <div class="col-50 frontpage-col">
                <template-card
                        module-name="{{vm.activeModules[$index]}}"></template-card>
            </div>
            <div class="col-50 frontpage-col" ng-if="$index + 1 < vm.activeModules.length">
                <template-card
                        module-name="{{vm.activeModules[$index+1]}}"></template-card>
            </div>
        </div>
    </ion-content>
</ion-view>
