.graph-data-flex-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.graph-data-flex-child {
    flex: 1 auto;
}

.graph-data-width {
    min-height: 50%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

#disclaimer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
    color: #778899;
    font-size: 1.1em;
}

.axis path, .axis line {
    shape-rendering: crispEdges;
}