.outer {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
}

@media (min-width: 768px) {
    .col-property {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 15%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 15%;
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
        max-width: 15%;
    }

    .col-value {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 85%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 85%;
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        max-width: 85%;
    }
}

@media (max-width: 767px) {
    .col-property {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-value {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

#table-value-row, #table-property-row, #table-button-row {
    margin-top: 0;
}

#no-data {
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    text-align: center;
    color: #778899;
}

#graph-button-row {
    margin: auto;
    width: 80%;
    padding: 2px;
}

#display-type-footer-bar {
    height: 60px;
}

.display-type-footer-button {
    font-size: 1.15em !important;
}

.display-type-not-selected {
    background: rgba(230, 230, 230, 0.6) !important;
}

svg {
    margin: auto;
}

/*#graph .nvd3 .nv-point-paths path {*/
    /*stroke-opacity: 1!important;*/
    /*stroke-width: 5px!important;*/
    /*fill-opacity: 1!important;*/
/*}*/

/*#graphArea, svg {*/
/*margin: 0;*/
/*padding: 0;*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

