<div ng-controller="graphDataController as vm">
    <ion-view ng-attr-view-title="{{vm.viewTitle}}">
        <ion-content class="default-background">
            <div class="graph-data-flex-parent graph-data-flex-child">
                <div class="graph-data-flex-child">

                    <div class="row">
                    <span class="col" style="text-align: center">
                        <strong translate>graphData.from</strong>
                    </span>
                        <span class="col" style="text-align: center">
                        <strong translate>graphData.till</strong>
                    </span>
                    </div>
                    <div class="row">

                        <div class="col">
                            <div class="row responsive-sm">
                                <div class="col">
                                    <ionic-datepicker input-obj="vm.startDatepickerObject">
                                        <button class="button button-block button-stable button-border">
                                            <strong>{{vm.startDatepickerObject.inputDate | date:'dd/MM, yyyy'}}</strong>
                                        </button>
                                    </ionic-datepicker>
                                </div>
                                <div class="col">
                                    <ionic-timepicker input-obj="vm.startTimePickerObject">
                                        <button class="button button-block button-stable button-border">
                                            <strong>{{vm.startTimePickerObject.displayValue()}}</strong>
                                        </button>
                                    </ionic-timepicker>
                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="row responsive-sm">
                                <ionic-datepicker input-obj="vm.endDatepickerObject" class="col">
                                    <button class="button button-block button-stable button-border">
                                        <strong>{{vm.endDatepickerObject.inputDate | date:'dd/MM, yyyy'}}</strong>
                                    </button>
                                </ionic-datepicker>
                                <ionic-timepicker input-obj="vm.endTimePickerObject" class="col">
                                    <button class="button button-block button-stable button-border">
                                        <strong>{{vm.endTimePickerObject.displayValue()}}</strong>
                                    </button>
                                </ionic-timepicker>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div ng-if="vm.displaytype==='chart'" ng-show="vm.isData">
                <nvd3 id="graph"
                      options="vm.graph.options"
                      data="vm.graphData"
                      config="vm.graph.config"
                      events="vm.events"
                      api="vm.api"></nvd3>

                <div id="buttonArea">
                    <div id='graph-button-row' class="row responsive-md">
                        <div class="col"
                             style="padding: 2px"
                             ng-repeat="property in vm.graphProperties">
                            <button class="button"
                                    style="width: 100%; overflow: hidden;"
                                    ng-style="{ background: vm.btnBackground(property)}"
                                    ng-click="vm.showPropertyGraph(property.name)"
                                    ng-disabled="property.disabled">
                                <strong>{{property.name}}</strong>
                            </button>
                        </div>
                    </div>
                </div>

                <div style="visibility: hidden" class="row">
                    <div style="height: 10px" class="col">
                        Dirty fix for resizing scrolling area
                    </div>
                </div>
            </div>


            <div class="outer" ng-if="vm.displaytype==='table'" ng-show="vm.tableObject != null">
                <!-- ng-show="vm.isData" -->
                <div class="row">
                    <div class="col col-property">
                        <!--style="margin-top: 5px !important;"-->
                        <div id="table-property-row"
                             class="row center-text"
                             ng-repeat="(key,value) in vm.tableObject"
                             ng-style="{ height: $first ? '60px' : '45px',
                                         overflow: 'hidden'}">
                            <b class="center-text" ng-if="!($first)">
                                <span ng-if="['pain','medicine','mucositis','bloodsamples'].indexOf(vm.dataType)>-1" translate="{{vm.dataType+'.'+key}}"></span>
                                <span ng-if="['pain','medicine','mucositis','bloodsamples'].indexOf(vm.dataType)==-1">{{key}}</span>
                            </b>
                        </div>
                    </div>
                    <div class="col col-value">
                        <ion-scroll zooming="false" direction="x"
                                    ng-style="vm.scrollDimensions()">
                            <div ng-style="vm.tableDimensions()">
                                <div id="table-value-row"
                                     class="row center-text"
                                     ng-repeat="(key,value) in vm.tableObject"
                                     ng-init="isFirstRow = $first"
                                     ng-style="{ height: isFirstRow ? '60px' : '45px',
                                                 'border-top': isFirstRow ? '0px none transparent' : '1px solid #778899',
                                                 overflow: 'hidden',
                                                 background: vm.rowBackground(key)}">
                                    <div class="col"
                                         ng-repeat="number in value track by $index"
                                         style="margin-top: 7px !important;">
                                        <span ng-if='isFirstRow'>
                                            <strong>
                                                {{number | date:'dd/MM'}}<br>{{number | date:'HH:mm'}}
                                            </strong>
                                        </span>
                                        <span ng-if='!isFirstRow && number' translate>
                                            {{number + ''}}
                                        </span>
                                        <span ng-if='!isFirstRow && !number' translate>
                                            -
                                        </span>
                                    </div>
                                </div>
                                <div id="table-button-row"
                                     class="row center-text"
                                     style="height: 45px; border-top: 1px solid #778899;">
                                    <div class="col"
                                         ng-repeat="timestamp in vm.tableObject.timestamp">
                                        <button class="button button-icon ion-compose"
                                                style="font-size: 22px;"
                                                ng-click="vm.editRegistration(timestamp)"></button>
                                    </div>
                                </div>
                            </div>

                        </ion-scroll>
                    </div>
                </div>
            </div>

            <div id="no-data"
                 ng-show="(!vm.isData && vm.displaytype === 'chart') || (vm.tableObject == null && vm.displaytype === 'table')">
                <label style="font-size: 1.9em;" translate>
                    graphData.noData
                </label>
            </div>

        </ion-content>

        <ion-footer-bar id="display-type-footer-bar">
            <div class="button-bar">
                <button class="button button-border display-type-footer-button"
                        ng-class="vm.tableButtonClass"
                        ng-click="vm.changeDisplayType('table')">
                    <strong translate>graphData.table</strong>
                </button>
                <button class="button button-border display-type-footer-button"
                        ng-class="vm.chartButtonClass"
                        ng-click="vm.changeDisplayType('chart')"
                        ng-disabled="!vm.isData && vm.tableObject != null">
                    <strong translate>graphData.graph</strong>
                </button>
            </div>
        </ion-footer-bar>
    </ion-view>
</div>