<div ng-controller="graphDataController as vm">
   <ion-view>
      <ion-content>
         <div class="graph-data-flex-parent graph-data-flex-child">
            <div class="graph-data-flex-child">

               <div class="row">
                    <span class="col" style="text-align: center">
                        <strong>Fra:</strong>
                    </span>
                    <span class="col" style="text-align: center">
                        <strong>Til:</strong>
                    </span>
               </div>
               <div class="row">

                  <div class="col">
                     <div class="row responsive-sm">
                        <div class="col">
                           <ionic-datepicker input-obj="vm.startDatepickerObject">
                              <button class="button button-block button-stable">
                                 <strong>{{vm.startDatepickerObject.inputDate | date:'dd/MM, yyyy'}}</strong>
                              </button>
                           </ionic-datepicker>
                        </div>
                        <div class="col">
                           <ionic-timepicker input-obj="vm.startTimePickerObject">
                              <button class="button button-block button-stable overflowShow">
                                 <strong>{{vm.startTimePickerObject.displayValue()}}</strong>
                              </button>
                           </ionic-timepicker>
                        </div>

                     </div>
                  </div>
                  <div class="col">
                     <div class="row responsive-sm">
                        <ionic-datepicker input-obj="vm.endDatepickerObject" class="col">
                           <button class="button button-block button-stable">
                              <strong>{{vm.endDatepickerObject.inputDate | date:'dd/MM, yyyy'}}</strong>
                           </button>
                        </ionic-datepicker>
                        <ionic-timepicker input-obj="vm.endTimePickerObject" class="col">
                           <button class="button button-block button-stable overflowShow">
                              <strong>{{vm.endTimePickerObject.displayValue()}}</strong>
                           </button>
                        </ionic-timepicker>
                     </div>
                  </div>

               </div>

            </div>
         </div>

         <div id="graph-data-chart"
              class="graph-data-width"
              ng-if="vm.displaytype=='chart'">
            <nvd3 id="graph"
                  options="vm.options"
                  data="vm.filteredDataSeries"
                  config="vm.config"
                  events="vm.events"
                  api="vm.api"></nvd3>
         </div>

         <div id="graph-data-table"
              class="graph-data-flex-child graph-data-width"
              ng-if="vm.displaytype=='table'">
            <div ng-repeat="dataserie in vm.filteredDataSeries">
               <div ng-show="$index==0" class="row">
                  <div class="col"><strong></strong></div>
                  <div class="col" ng-repeat="(index, value) in dataserie.values">
                     <strong>{{value.x | date:'dd/MM'}}<br>{{value.x | date:'HH:mm'}}</strong>
                  </div>
               </div>
               <div class="row">
                  <div class="col" translate>{{vm.dataserie.key}}</div>
                  <div class="col" ng-repeat="(index, value) in dataserie.values">{{value.y}}</div>
               </div>
            </div>
         </div>

         <div class="graph-data-flex-parent">
            <div ng-repeat="dataserie in vm.dataSeries">
               <div class="graph-data-flex-child">

               <span ng-if="dataserie.visible">
                  <button ng-click="vm.toggleShowDataSerie(dataserie.key)"
                          class="button button-dark"
                          ng-style="{'background-color': '{{vm.options.chart.allcolors[$index]}}'};"
                          translate> {{dataserie.label}}
                  </button>
               </span>
               <span ng-if="!dataserie.visible">
                  <button ng-click="vm.toggleShowDataSerie(dataserie.key)"
                          class="button button-stable"
                          translate> {{dataserie.label}}
                  </button>
               </span>

               </div>
            </div>
         </div>

      </ion-content>

      <ion-footer-bar>
         <div class="button-bar">
            <button class="button"
                    ng-class="vm.tableButtonClass"
                    ng-click="vm.changeDisplayType('table')">Tabel
            </button>
            <button class="button"
                    ng-class="vm.chartButtonClass"
                    ng-click="vm.changeDisplayType('chart')">Graf
            </button>
         </div>
      </ion-footer-bar>

   </ion-view>

</div>