<div ng-controller="graphDataMeasurementsController as vm">
    <ion-view ng-attr-view-title="{{vm.viewTitle}}">
        <ion-content class="default-background">
            <div class="graph-data-flex-parent graph-data-flex-child">
                <div class="graph-data-flex-child">


                    <div class="row">
                        <div class="col" ng-if="vm.isData">
                            <strong translate class="dateLabel">graphDataMeasurements.date</strong>
                            <select class="button button-stable button-border" ng-model="vm.startDate"
                                    ng-options="recordDate.formatted for recordDate in vm.recordDates"
                                    ng-change="vm.processData()" style="text-align: center"></select>
                        </div>
                    </div>

                </div>
            </div>

            <div ng-show="vm.isData">
                <nvd3 id="graph"
                      options="vm.graph.options"
                      data="vm.graphData"
                      config="vm.graph.config"
                      events="vm.events"
                      api="vm.api"></nvd3>

                <div id="buttonArea">
                    <div id='graph-button-row' class="row responsive-md">
                        <div class="col"
                             style="padding: 2px"
                             ng-repeat="property in vm.graphProperties">
                            <button class="button"
                                    style="width: 100%; overflow: hidden;"
                                    ng-style="{ background: vm.btnBackground(property)}"
                                    ng-click="vm.showPropertyGraph(property.name)"
                                    ng-disabled="property.disabled">
                                <strong>
                                    <span translate="{{'graphDataMeasurements.' + property.name}}"></span>
                                </strong>
                            </button>
                        </div>
                    </div>
                </div>

                <div style="visibility: hidden" class="row">
                    <div style="height: 10px" class="col">
                        Dirty fix for resizing scrolling area
                    </div>
                </div>
            </div>


            <div id="no-data"
                 ng-show="!vm.isData">
                <label style="font-size: 1.9em;" translate>
                    graphDataMeasurements.noData
                </label>
            </div>

        </ion-content>

    </ion-view>
</div>