$light: #fffaed;
$stable: #fff4d3;
$positive: #EB613B;
$calm: #f08c70; //#F98F6F;
//$balanced:
//$energized:
//$assertive:
$royal: #FFAF51;

$dark: #302522;


$text-color: #302522;

$background-color: #fffaed; //#fff4d3;