$light: #fffaed;
$stable: #fff4d3;
$positive: #EB613B;
$calm: #f08c70;
//$balanced:
$energized: #44f59c;
//$assertive:
$royal: #FFAF51;
$dark: #302522;

// our custom constants
$text-color: $dark;
$background-color: $stable; //#fff4d3;