<ion-view view-title="{{vm.event.name}}" ng-controller="frontpageController as vm">

    <ion-nav-buttons side="secondary">
        <button class="button-clear logout-button" ng-click="vm.backToLogout()">
            <i class="ion-log-out"></i> Log out {{currentUser.emails[0].address}}
        </button>
    </ion-nav-buttons>

    <ion-content class="default-background"
                 delegate-handle="front-page-scroll">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="vm.refresh()">
        </ion-refresher>
        <div class="row responsive-md bigScreen-topRow">
            <div class="col">
                <div class="card item item-text-wrap frontpage-topcomponent">
                    <div class="row">
                        <div id="calendar-date" class="col-33">
                            <calendar-date></calendar-date>
                        </div>
                        <div class="col">
                            <h1>{{vm.event.name}}</h1>
                            <div><h3>Mødested:</h3>
                                {{vm.event.meetingPoint}}
                            </div>
                            <div><h3>Medbring:</h3>
                                {{vm.event.bring}}
                            </div>
                            <div><h3>Program:</h3>
                                {{vm.event.program}}
                            </div>
                            <div><h3>More info:</h3>
                                {{vm.event.otherInfo}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div ng-repeat="module in vm.modules" class="responsive-md">
            <div class="col-50 col-offset-25 frontpage-col">
                <div class="card frontpage-card">
                    <div class="item">
                        <strong style="float: left">{{module.name}}</strong>
                        <button style="float: right" class="button button-icon ion-chevron-right"
                                ng-click="vm.newRegistration($index)"></button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="vm.modules.length == 0" class="responsive-md">
            <div class="col-50 col-offset-25">
                <strong style="text-align: center">Perfect! Everything has been filled in.</strong>
                <strong ng-if="vm.futureModules() > 0">We'll see each other later!</strong>
                <strong ng-if="vm.futureModules() == 0">Thanks for everything! It's been a great day :-)</strong>
            </div>
        </div>

    </ion-content>
</ion-view>
