.event-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.event-container h3{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .event-container {
        padding-top: 20px;
    }
}

@media (max-width: 767px) {
    .event-container {
        padding-top: 10px;
    }
}

.frontpage-col {
    padding-top: 0;
    padding-bottom: 0;
}