<ion-view view-title="{{vm.event.name}}" ng-controller="frontpageController as vm">
    <!-- Login button
    <ion-nav-buttons side="left">
        <login-buttons></login-buttons>
    </ion-nav-buttons>-->
    <!-- Settings button -->
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-android-settings" ng-click="vm.openModal()"></button>
    </ion-nav-buttons>
    <ion-content class="default-background"
                 delegate-handle="front-page-scroll">
        <div class="row responsive-md bigScreen-topRow">
            <div class="col">
                <div class="card item item-text-wrap frontpage-topcomponent">
                    <div class="row">
                        <div id="calendar-date" class="col-33">
                            <calendar-date></calendar-date>
                        </div>
                        <div class="col">
                            <h1>{{vm.event.name}}</h1>
                            <div><h3>Program:</h3>
                                {{vm.event.program}}
                            </div>
                            <div><h3>More info:</h3>
                                {{vm.event.otherInfo}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div ng-repeat="module in vm.modules" class="responsive-md">
            <div class="col-50 col-offset-25 frontpage-col">
                <div class="card frontpage-card">
                    <div class="item">
                        <strong style="float: left">{{module.name}}</strong>
                        <button style="float: right" class="button button-icon ion-chevron-right"
                                ng-click="vm.newRegistration($index)"></button>
                    </div>
                </div>
                <!--template-card module-name="{{module.name}}"></template-card-->
            </div>
        </div>
    </ion-content>
</ion-view>
