<ion-view view-title="Teambuilding" ng-controller="eventSelectController as vm">
    <!-- Login button
    <ion-nav-buttons side="left">
        <login-buttons></login-buttons>
    </ion-nav-buttons>-->
    <ion-content class="default-background">
        <div class="row responsive-md bigScreen-topRow">
            <div class="col">
                <h1>SELECT YOUR EVENT PLS</h1>
                <div>More information coming here<br>
                    <b>12:00-14:00</b> Hello<br>
                    <b>16:00-17:00</b> Bye<br>
                </div>
            </div>
        </div>

        <div ng-repeat="event in vm.events" class="row responsive-md">
            <div class="col-50 frontpage-col">
                <strong>{{ event.name }}</strong>
            </div>
            <div class="col-50 frontpage-col">
                {{ event.password }}
                {{ vm.eventPassword }}
            </div>
        </div>

        <input id="eventpassword"
               type="text"
               ng-model="vm.eventPassword">

        <button class="ion-button round"><ion-icon name="arrow-forward"></ion-icon>Enter</button>
    </ion-content>
</ion-view>
