<div ng-controller="timestampController as ts">

    <section class="padding-horizontal-50 top-margin">
        <div style="width: 100%">
            <div ng-hide="ts.dataType === 'medicine' || ts.dataType === 'bloodsamples'">
                <ionic-timepicker input-obj="ts.timePickerObj">
                    <button class="button button-block button-stable button-border">
                        <strong>{{ts.timePickerObj.displayValue()}}</strong>
                    </button>
                </ionic-timepicker>
            </div>
            <div>
                <ionic-datepicker input-obj="ts.datePickerObj">
                    <button class="button button-block button-stable button-border">
                        <strong>{{ts.datePickerObj.inputDate | date:ts.dateFormat}}</strong>
                    </button>
                </ionic-datepicker>
            </div>
        </div>
    </section>

</div>

