<div ng-controller="questionWizardController as qwiz">
    <ion-view ng-attr-view-title="{{qwiz.viewTitle}}">
        <div>

            <ion-content id="wizard-template" class="padding default-background"
                         delegate-handle="wizardStepContent">
                <div ng-include="qwiz.template"
                     onload="qwiz.stepLoaded()">
                </div>
            </ion-content>

            <ion-footer-bar class="bar thick-footer">
                <wizard style="width: 100%"
                        current-step="qwiz.stepName"
                        on-finish="qwiz.finishWizard()">
                    <div ng-repeat="(label,step) in qwiz.modules[qwiz.dataType]">
                        <wz-step wz-title="{{label | translate}}"
                                 canexit="qwiz.validateData">
                        </wz-step>
                    </div>
                    <ion-footer-bar class="bar">
                        <section style="width: 100%">
                    <span ng-if="qwiz.stepNumber == 0">
                        <a id="wiz-nav-button"
                           class="button ion-ios-undo button-royal icon-left"
                           ng-click="qwiz.cancelRegistration()"
                           value="Cancel" translate>wizard.cancel</a>
                    </span>
                            <span ng-if="qwiz.stepNumber > 0">
                        <a id="wiz-nav-button"
                           class="button ion-chevron-left button-royal icon-left"
                           wz-previous="qwiz.stepNumber = qwiz.stepNumber - 1"
                           value="Previous" translate>wizard.previous</a>
                    </span>
                            <span ng-if="qwiz.stepNumber < qwiz.steps.length - 1">
                        <a id="wiz-nav-button"
                           style="float:right"
                           class="button ion-chevron-right button-royal icon-right"
                           wz-next="qwiz.validateData() ? qwiz.stepNumber = qwiz.stepNumber + 1 : null"
                           value="Next" translate>wizard.next</a>
                    </span>
                            <span ng-if="qwiz.stepNumber == qwiz.steps.length - 1 && qwiz.isLoggedIn">
                        <a id="wiz-nav-button"
                           style="float:right"
                           class="button ion-archive button-royal icon-right"
                           wz-finish="qwiz.validateData() ? $ionicGoBack() : null">
                            {{ qwiz.finishButtonText() }}
                        </a>
                    </span>
                            <span ng-if="qwiz.stepNumber == qwiz.steps.length - 1 && !qwiz.isLoggedIn">
                        <a id="wiz-nav-button"
                           style="float:right"
                           class=""
                           translate>wizard.saveRegistrationLoggedOut</a>
                    </span>
                        </section>
                    </ion-footer-bar>
                </wizard>
            </ion-footer-bar>
        </div>
    </ion-view>
</div>