.center-horizontal {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center-full {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#wizard-template {
    bottom: 88px;
}

#wiz-nav-button {
    min-width: 120px;
}

@media (min-width: 768px) {
    .padding-horizontal-50 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .top-margin {
        margin-top: 150px;
    }

    .thick-footer {
        width: 100%;
        height: 15%;
        min-height: 80px !important;
    }
}

@media (max-width: 767px) {
    .padding-horizontal-50 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .top-margin {
        margin-top: 35px;
    }

    .thick-footer {
        width: 100%;
        height: 15%;
        min-height: 100px !important;
    }
}