<div class="wrapper" ng-controller="docctrl">
    <ion-view ng-attr-view-title="{{pdfName}}">
        <div>
            <ion-content id="pdfcontainerweb" locking="false" direction="xy">
                <canvas id="pdfdocumentweb"></canvas>
            </ion-content>

            <ion-scroll id="pdfcontainernative" zooming="true" locking="false" direction="xy">
                <canvas id="pdfdocumentnative"></canvas>
            </ion-scroll>

            <ion-footer-bar class="bar">
                <h1 class="title">
                    <div class="button-bar">
                        <button class="button button-small button-royal icon-right ion-arrow-left-b" ng-click="goPrevious()"></button>
                        <span class="button button-small button-royal">{{pageNum}}/{{pageCount}}</span>
                        <button class="button button-small button-royal icon-left ion-arrow-right-b" ng-click="goNext()"></button>

                        <button ng-if="isNative!==true" ng-click="zoomOut()" class="button button-small button-royal icon-right ion-minus"></button>
                        <button ng-if="isNative!==true" ng-click="fit()" class="button button-small button-royal ion-search"></button>
                        <button ng-if="isNative!==true" ng-click="zoomIn()" class="button button-small button-royal icon-left ion-plus"></button>
                    </div>
                </h1>
            </ion-footer-bar>

        </div>
    </ion-view>
</div>
