// Import your custom variables
@import '../../styles/app-variables';
// Then import ionic after. Ionic will use your variables instead of its own.
@import '{seba:ionic-sass}/scss/ionic';

// ---------------------------------------------------------------------------------

.icon-col {
  width: 40px;
  padding-top: 10px;
  text-align: center;
}

.icon-col i {
  font-size: 2em;
}

.event-type-select{
  max-width: 300px;
}

.editor-modal{
  position: relative;
  width: 100%;
  height: 100%;
}

.editor-form {
  margin-top: 10px;
}

.editor-form .row {
  margin-bottom: 15px;
}

.editor-form .editor-input-group {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 300px;
}

.editor-form .editor-input {
  background: none;
  padding: 5px 10px 0px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bbbbbb;
}

input.editor-input:valid {
  border-bottom: 1px solid #eeeeee;
}

.editor-form .editor-input:focus {
  outline: none;
}

.editor-form .editor-input-bar {
  position: relative;
  display: block;
  width: 100%;
}

.editor-form .editor-input-bar:before,
.editor-form .editor-input-bar:after {
  content: '';
  height: 2px;
  width: 0px;
  bottom: 0px;
  position: absolute;
  background: $positive;
  transition: 0.2s ease all;
}

.editor-form .editor-input-bar:after {
  left: 0%;
}

input:focus ~ .editor-input-bar:after {
  width: 100%;
}

.editor-form .event-name-input {
  width: 100%;
  max-width: 800px;

  input {
    font-size: 1.8em;
    font-weight: bold;
    padding: 5px 10px 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.editor-form .event-password-input {
  float: right;
  text-align: right;
  font-style: italic;
  width: 50%;
  max-width: 250px;

  .editor-input-group {
    width: 90%;
    display: inline-block;

    input {
      font-style: italic;
    }
  }
}

.editor-form .editor-date-input {
  max-width: 45%;
  min-width: 100px;
}

.editor-dates {
  width: 100%;
}

.editor-form .editor-program-input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #bbbbbb;
  transition: 0.2s ease all;
}

.editor-form .editor-program-input:focus {
  border: 1px solid #bbbbbb;
}

.editor-form .editor-program-input:valid {
  border: none;
}


.editor-form label {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.editor-form .editor-input-group ~ label {
  margin-top: 20px;
}

.editor-questions ul {
  display: block;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}