<ion-modal-view class="centervertically" ng-controller="eventEditorController as vm">
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">{{vm.pageTitle}}</h1>
        <button class="button button-clear button-left"
                ng-click="vm.doneModal()">
            <strong translate>Cancel</strong>
        </button>
        <button class="button button-clear button-right"
                ng-click="vm.doneModal()">
            <strong translate>Save</strong>
        </button>
    </ion-header-bar>
    <ion-content class="default-background">
        <form class="editor-form">
            <div class="row">
                <div class="col">
                    <span class="editor-input-group event-name-input">
                        <input type="text" class="editor-input" placeholder="Event name"
                               ng-model="vm.event.name">
                        <div class="editor-input-bar"></div>
				    </span>

                    <div class="event-password-input">
                        (<span class="editor-input-group">
                        <input type="text" class="editor-input" placeholder="password" ng-model="vm.event.password">
                        <div class="editor-input-bar"></div>
				        </span>)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="icon-col"><i class="icon ion-ios-calendar-outline padding-right"></i></div>
                <div class="col">
                    <span class="editor-input-group editor-date-input">
                        <input type="date" class="editor-input" ng-model="vm.event.startDate">
                        <div class="editor-input-bar"></div>
				    </span>&ndash;
                    <span class="editor-input-group">
                        <input type="date" class="editor-input" ng-model="vm.event.endDate">
                        <div class="editor-input-bar"></div>
				    </span>
                </div>
            </div>
            <div class="row">
                <div class="icon-col"><i class="icon ion-ios-location padding-right"></i></div>
                <div class="col">
                    <span class="editor-input-group">
                        <input type="text" class="editor-input" placeholder="Meeting point"
                               ng-model="vm.event.meetingPoint">
                        <div class="editor-input-bar"></div>
				    </span>
                </div>
            </div>
            <div class="row">
                <div class="icon-col"><i class="icon ion-ios-list-outline padding-right"></i></div>
                <div class="col">
                    Program
                    <textarea ng-model="vm.event.program" class="editor-program-input"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="icon-col"><i class="icon ion-ios-information-outline padding-right"></i></div>
                <div class="col">
                    <label>Bring</label>
                    <span class="editor-input-group">
                        <input type="text" class="editor-input" placeholder="Bring"
                               ng-model="vm.event.bring">
                        <div class="editor-input-bar"></div>
				    </span>
                    <br>
                    <label>Other info....</label>
                    <span class="editor-input-group">
                        <input type="text" class="editor-input" placeholder="Other info"
                               ng-model="vm.event.otherInfo">
                        <div class="editor-input-bar"></div>
				    </span>

                </div>
            </div>
        </form>

    </ion-content>
</ion-modal-view>
