<ion-view view-title="Editor" ng-controller="editorController as vm" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button button-royal icon-left ion-plus-circled" ng-click="vm.openModal()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear logout-button" ng-click="vm.backToLogout()">
            <i class="ion-log-out"></i>
            <translate>logout</translate> {{currentUser.emails[0].address|nameFromEmail}}
        </button>
    </ion-nav-buttons>

    <ion-content class="default-background"
                 delegate-handle="front-page-scroll">
        <ion-refresher
                pulling-text="{{'refresherText' | translate}}"
                on-refresh="vm.refresh()">
        </ion-refresher>

        <div class="list">

            <div ng-repeat="event in vm.events" class="item item-button-right">
<!--                <div class="col">
                    -->

                <strong>{{ event.name }}</strong> <span class="eventPassword">({{event.password}})</span>

                <!--
                    </div>
                <div class="col">
                    {{ event.shortEvent }}
                </div>
                <div class="col">
                <span ng-hide="vm.event.startDate == vm.event.endDate">
                                        {{vm.event.startDate | date:"d. M."}} &ndash;</span>
                    {{vm.event.endDate | date:"d. M. yyyy"}}
                </div>
                <div class="col">
                    {{event.password}}
                </div>

                <div class="col">
                    {{event.meetingPoint}}
                </div>-->
                <button class="button button-positive" ng-click="vm.openModal(event._id)">
                    <i class="icon ion-edit"></i>
                </button>

            </div>

        </div>


    </ion-content>

    <div class="bar bar-footer">

    </div>
</ion-view>
