<div class="card frontpage-card">
    <div class="item item-divider bar ng-class: vm.barClass;">
            <span class="frontpage-card-icon" ng-style=vm.iconStyle>
            </span>
        <strong translate>{{vm.moduleTitle}}</strong>
        <button style="float: right" class="button button-icon ion-plus-round"
                ng-click="vm.newRegistration()"></button>
        <span style="padding-left: 50px; float: right;"></span>
        <button style="float: right" class="button button-icon ion-stats-bars"
                ng-click="vm.showGraphData()"></button>
    </div>
    <div class="item item-text-wrap">
        <div class="row">
            <div class="col row-description" translate>
                {{ vm.rowDescription(0) }}
            </div>
            <div class="col">
                {{ vm.rowProperty(0) | translate }} &nbsp;&nbsp;
                <b>
                    <small translate>{{vm.rowMeasurement(0)}}</small>
                </b>
            </div>
        </div>
        <div class="row">
            <div class="col row-description" translate>
                {{ vm.rowDescription(1) }}
            </div>
            <div class="col">
                {{ vm.rowProperty(1) | translate }} &nbsp;&nbsp;
                <b>
                    <small translate>{{vm.rowMeasurement(1)}}</small>
                </b>
            </div>
        </div>
        <div class="row">
            <div class="col row-description" translate>
                {{ vm.rowDescription(2) }}
            </div>
            <div class="col">
                {{ vm.rowProperty(2) | translate }} &nbsp;&nbsp;
                <b>
                    <small translate>{{vm.rowMeasurement(2)}}</small>
                </b>
            </div>
        </div>
    </div>
</div>