<div class="card frontpage-card">
    <div class="item item-divider bar bar-energized">
            <span class="frontpage-card-icon"
                  ng-style="{'content':'url(/mucositistransparent.png)'}"></span>
        <strong>Mucositis</strong>
        <button style="float: right" class="button button-icon ion-plus-round"
                ng-click="mucositiscard.newRegistration()"></button>
        <span style="padding-left: 50px; float: right;"></span>
        <button style="float: right" class="button button-icon ion-stats-bars"
                ng-click="mucositiscard.showGraphData()"></button>
    </div>
    <div class="item item-text-wrap">
        <div class="row">
            <div class="col"><strong>Smerte</strong></div>
            <div class="col">{{mucositiscard.diagnosis(0)}}</div>
        </div>
        <div class="row">
            <div id="2" class="col"><strong>Sår/Rødme</strong></div>
            <div class="col">{{mucositiscard.diagnosis(1)}}</div>
        </div>
        <div class="row">
            <div id="3" class="col"><strong>Fødeindtag</strong></div>
            <div class="col">{{mucositiscard.diagnosis(2)}}</div>
        </div>
    </div>
</div>