<div style="width: 100%"
     ng-controller="painController as vm">

    <div class="bar bar-header bar-royal"
         style="top: -10px;">
        <h2 class="title"
            ng-style="{ 'text-align': vm.isSmallScreen() ? 'left' : 'center' }"
            ng-show="vm.registration.painScore != null">
            {{ vm.painScale }}: <b>{{vm.registration.painScore}}</b>
        </h2>
        <h2 class="title"
            ng-style="{ 'text-align': vm.isSmallScreen() ? 'left' : 'center' }"
            ng-show="vm.registration.painScore == null">
            {{ vm.painScaleNoScore() }}
        </h2>
        <button class="button button-border-white"
                ng-click="vm.changeScale()" translate>
            pain.changeScale
        </button>
    </div>

    <ion-scroll delegate-handle="painScale"
                direction="y"
                ng-style="{ width: '100%',
                            height: vm.isSmallScreen() ? 'calc(100vh - 200px)' : '100%',
                            top: '40px' }">
        <div ng-show="vm.showFlacc"
             ng-style="{ width: '100%',
                        height: vm.isSmallScreen() ? '90em' : '100%' }">
            <h4 class="flacc-title" style="clear: right" translate>pain.faceExpression</h4>
            <div class="row responsive-md flacc-row">
                <div class="col">
                    <button ng-click="vm.selectFlacc(0,0)"
                            ng-class="{
                                'button-dark':vm.registration.flaccvalue[0]===0,
                                'button-stable':vm.registration.flaccvalue[0]!==0,
                                 'button button-block flacc-button button-border': true}" translate>
                        pain.faceExpression0
                    </button>
                </div>
                <div class="col">
                    <button ng-click="vm.selectFlacc(0,1)"
                            ng-class="{
                            'button-dark':vm.registration.flaccvalue[0]===1,
                            'button-stable':vm.registration.flaccvalue[0]!==1,
                            'button button-block flacc-button button-border': true}" translate>
                        pain.faceExpression1
                    </button>
                </div>
                <div class="col">
                    <button ng-click="vm.selectFlacc(0,2)"
                            ng-class="{
                            'button-dark':vm.registration.flaccvalue[0]===2,
                            'button-stable':vm.registration.flaccvalue[0]!==2,
                            'button button-block flacc-button button-border': true}" translate>
                        pain.faceExpression2
                    </button>
                </div>
            </div>

            <h4 class="flacc-title" translate>pain.legs</h4>
            <div class="row responsive-md flacc-row">
                <div class="col">
                    <button ng-click="vm.selectFlacc(1,0)"
                            ng-class="{'button-dark':vm.registration.flaccvalue[1]===0,
                            'button-stable':vm.registration.flaccvalue[1]!==0,
                            'button button-block flacc-button button-border': true}" translate>
                        pain.legs0
                    </button>
                </div>
                <div class="col">
                    <button ng-click="vm.selectFlacc(1,1)" ng-class="{'button-dark':vm.registration.flaccvalue[1]===1,
                                                  'button-stable':vm.registration.flaccvalue[1]!==1,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.legs1
                    </button>
                </div>
                <div class="col">
                    <button ng-click="vm.selectFlacc(1,2)" ng-class="{'button-dark':vm.registration.flaccvalue[1]===2,
                                                  'button-stable':vm.registration.flaccvalue[1]!==2,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.legs2
                    </button>
                </div>
            </div>

            <h4 class="flacc-title" translate>pain.activity</h4>
            <div class="row responsive-md flacc-row">
                <div class="col">
                    <button ng-click="vm.selectFlacc(2,0)" ng-class="{'button-dark':vm.registration.flaccvalue[2]===0,
                                                  'button-stable':vm.registration.flaccvalue[2]!==0,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.activity0
                    </button>
                </div>
                <div class="col">
                    <button ng-click="vm.selectFlacc(2,1)" ng-class="{'button-dark':vm.registration.flaccvalue[2]===1,
                                                  'button-stable':vm.registration.flaccvalue[2]!==1,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.activity1
                    </button>
                </div>
                <div class="col">
                    <button ng-click="vm.selectFlacc(2,2)" ng-class="{'button-dark':vm.registration.flaccvalue[2]===2,
                                                  'button-stable':vm.registration.flaccvalue[2]!==2,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.activity2
                    </button>
                </div>
            </div>

            <h4 class="flacc-title" translate>pain.cry</h4>
            <div class="row responsive-md flacc-row">
                <div class="col">
                    <button ng-click="vm.selectFlacc(3,0)" ng-class="{'button-dark':vm.registration.flaccvalue[3]===0,
                                                  'button-stable':vm.registration.flaccvalue[3]!==0,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.cry0
                    </button>
                </div>
                <div class="col">
                    <button ng-click="vm.selectFlacc(3,1)" ng-class="{'button-dark':vm.registration.flaccvalue[3]===1,
                                                  'button-stable':vm.registration.flaccvalue[3]!==1,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.cry1
                    </button>
                </div>
                <div class="col">
                    <button ng-click="vm.selectFlacc(3,2)" ng-class="{'button-dark':vm.registration.flaccvalue[3]===2,
                                                  'button-stable':vm.registration.flaccvalue[3]!==2,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.cry2
                    </button>
                </div>
            </div>

            <h4 class="flacc-title" translate>pain.comfort</h4>
            <div class="row responsive-md flacc-row">
                <div class="col">
                    <button ng-click="vm.selectFlacc(4,0)" ng-class="{'button-dark':vm.registration.flaccvalue[4]===0,
                                                  'button-stable':vm.registration.flaccvalue[4]!==0,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.comfort0
                    </button>
                </div>
                <div class="col">
                    <button ng-click="vm.selectFlacc(4,1)" ng-class="{'button-dark':vm.registration.flaccvalue[4]===1,
                                                  'button-stable':vm.registration.flaccvalue[4]!==1,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.comfort1
                    </button>
                </div>
                <div class="col">
                    <button ng-click="vm.selectFlacc(4,2)" ng-class="{'button-dark':vm.registration.flaccvalue[4]===2,
                                                  'button-stable':vm.registration.flaccvalue[4]!==2,
                                                  'button button-block flacc-button button-border': true}" translate>
                        pain.comfort2
                    </button>
                </div>
            </div>

            <div style="visibility: hidden" class="row">
                <div style="height: 40px" class="col">
                    Dirty fix for resizing scrolling area
                </div>
            </div>

        </div>
        <div ng-show="!vm.showFlacc" style="clear: right;"
             class="">
            <div ng-if="!vm.isSmallScreen()">
                <div class="row responsive-md">
                    <div class="col">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 0 ? 'url(/smiley0selected.png)':'url(/smiley0.png)' }"
                             ng-click="vm.selectSmiley(0)"></div>
                    </div>
                    <div class="col">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 2 ? 'url(/smiley2selected.png)':'url(/smiley2.png)' }"
                             ng-click="vm.selectSmiley(2)"></div>
                    </div>
                    <div class="col">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 4 ? 'url(/smiley4selected.png)':'url(/smiley4.png)' }"
                             ng-click="vm.selectSmiley(4)"></div>
                    </div>
                    <div class="col">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 6 ? 'url(/smiley6selected.png)':'url(/smiley6.png)' }"
                             ng-click="vm.selectSmiley(6)"></div>
                    </div>
                    <div class="col">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 8 ? 'url(/smiley8selected.png)':'url(/smiley8.png)' }"
                             ng-click="vm.selectSmiley(8)"></div>
                    </div>
                    <div class="col">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 10 ? 'url(/smiley10selected.png)':'url(/smiley10.png)' }"
                             ng-click="vm.selectSmiley(10)"></div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.isSmallScreen()">
                <!--<ion-scroll id="smiley-scroll" delegate-handle="smiley-scroll" zooming="false" direction="x">-->
                <div class="row" style="width: 100%; height: 90px;">
                    <div class="col" style="padding: 0">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 0 ? 'url(/smiley0selected.png)':'url(/smiley0.png)' }"
                             ng-click="vm.selectSmiley(0)"></div>
                    </div>
                    <div class="col" style="padding: 0">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 2 ? 'url(/smiley2selected.png)':'url(/smiley2.png)' }"
                             ng-click="vm.selectSmiley(2)"></div>
                    </div>
                    <div class="col" style="padding: 0">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 4 ? 'url(/smiley4selected.png)':'url(/smiley4.png)' }"
                             ng-click="vm.selectSmiley(4)"></div>
                    </div>
                    <div class="col" style="padding: 0">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 6 ? 'url(/smiley6selected.png)':'url(/smiley6.png)' }"
                             ng-click="vm.selectSmiley(6)"></div>
                    </div>
                    <div class="col" style="padding: 0">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 8 ? 'url(/smiley8selected.png)':'url(/smiley8.png)' }"
                             ng-click="vm.selectSmiley(8)"></div>
                    </div>
                    <div class="col" style="padding: 0">
                        <div class="image responsive"
                             ng-style="{'background-image': vm.selectedSmiley == 10 ? 'url(/smiley10selected.png)':'url(/smiley10.png)' }"
                             ng-click="vm.selectSmiley(10)"></div>
                    </div>
                </div>
                <!--</ion-scroll>-->
            </div>
            <div class="range range-positive">
                <input type="range"
                       name="volume"
                       min="0"
                       max="10"
                       ng-model="vm.registration.painScore"
                       ng-change="vm.smileySliderChanged()">
            </div>

            <br>
            <div class="row responsive-md">
                <div class="col" style="text-align:center">
                    <h3 translate>{{ vm.smileyDescription }}</h3>
                </div>
            </div>

        </div>
    </ion-scroll>


</div>
