.center-horizontal-morphine {
    margin: auto;
    width: 80%;
}

.pain-button {
    line-height: 1.5em;
    min-height: 5.0em;
}

.flacc-row {
    padding: 0;
}

.image {
    float: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.responsive {
    height: 163px;
    width: 130px;
    box-shadow: 0 0 0 5px white inset;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .flacc-title {
        margin: 0px 15px;
        line-height: 1.0;
    }

    .smiley-two-row {
        display: none;
    }
}

@media (max-width: 767px) {
    .flacc-title {
        font-weight: bold;
    }

    .smiley-one-row {
        display: none;
    }
}