<div style="width: 100%"
     ng-controller="painController as vm">

   <button style="float: right; margin-right: 10px;"
           class="button button-positive"
           ng-click="vm.changeScale()">
      Skift skala
   </button>

   <div ng-show="vm.show">
      <h4 class="flacc-title" style="clear: right">Ansigtsudtryk</h4>
      <div class="row responsive-md flacc-row">
         <div class="col">
            <button ng-click="vm.selectFlacc(0,0)"
                    ng-class="{
                                'button-dark':vm.registration.flaccvalue[0]===0,
                                'button-stable':vm.registration.flaccvalue[0]!==0,
                                 'button button-block flacc-button pain-button': true}">
               Upåvirket/Afslappet
            </button>
         </div>
         <div class="col">
            <button ng-click="vm.selectFlacc(0,1)"
                    ng-class="{
                            'button-dark':vm.registration.flaccvalue[0]===1,
                            'button-stable':vm.registration.flaccvalue[0]!==1,
                            'button button-block flacc-button pain-button': true}">
               Bekymret,indadvendt
            </button>
         </div>
         <div class="col">
            <button ng-click="vm.selectFlacc(0,2)"
                    ng-class="{
                            'button-dark':vm.registration.flaccvalue[0]===2,
                            'button-stable':vm.registration.flaccvalue[0]!==2,
                            'button button-block flacc-button pain-button': true}">
               Hyppigt til konstant dirren omkring munden eller sammenbidt
            </button>
         </div>
      </div>

      <h4 class="flacc-title">Ben</h4>
      <div class="row responsive-md flacc-row">
         <div class="col">
            <button ng-click="vm.selectFlacc(1,0)"
                    ng-class="{'button-dark':vm.registration.flaccvalue[1]===0,
                            'button-stable':vm.registration.flaccvalue[1]!==0,
                            'button button-block flacc-button pain-button': true}">
               Normal position eller afslappet
            </button>
         </div>
         <div class="col">
            <button ng-click="vm.selectFlacc(1,1)" ng-class="{'button-dark':vm.registration.flaccvalue[1]===1,
                                                  'button-stable':vm.registration.flaccvalue[1]!==1,
                                                  'button button-block flacc-button pain-button': true}">
               Urolig, spændt
            </button>
         </div>
         <div class="col">
            <button ng-click="vm.selectFlacc(1,2)" ng-class="{'button-dark':vm.registration.flaccvalue[1]===2,
                                                  'button-stable':vm.registration.flaccvalue[1]!==2,
                                                  'button button-block flacc-button pain-button': true}">
               Trækker benene op under sig, sparker
            </button>
         </div>
      </div>

      <h4 class="flacc-title">Aktivitet</h4>
      <div class="row responsive-md flacc-row">
         <div class="col">
            <button ng-click="vm.selectFlacc(2,0)" ng-class="{'button-dark':vm.registration.flaccvalue[2]===0,
                                                  'button-stable':vm.registration.flaccvalue[2]!==0,
                                                  'button button-block flacc-button pain-button': true}">
               Normal stilling eller ligger stille, bevæger sig frit
            </button>
         </div>
         <div class="col">
            <button ng-click="vm.selectFlacc(2,1)" ng-class="{'button-dark':vm.registration.flaccvalue[2]===1,
                                                  'button-stable':vm.registration.flaccvalue[2]!==1,
                                                  'button button-block flacc-button pain-button': true}">
               Vrider sig, kan ikke finde ro
            </button>
         </div>
         <div class="col">
            <button ng-click="vm.selectFlacc(2,2)" ng-class="{'button-dark':vm.registration.flaccvalue[2]===2,
                                                  'button-stable':vm.registration.flaccvalue[2]!==2,
                                                  'button button-block flacc-button pain-button': true}">
               "Går i bro", stiv eller kaster sig rundt
            </button>
         </div>
      </div>

      <h4 class="flacc-title">Gråd</h4>
      <div class="row responsive-md flacc-row">
         <div class="col">
            <button ng-click="vm.selectFlacc(3,0)" ng-class="{'button-dark':vm.registration.flaccvalue[3]===0,
                                                  'button-stable':vm.registration.flaccvalue[3]!==0,
                                                  'button button-block flacc-button pain-button': true}">
               Græder ikke (Vågen eller sovende)
            </button>
         </div>
         <div class="col">
            <button ng-click="vm.selectFlacc(3,1)" ng-class="{'button-dark':vm.registration.flaccvalue[3]===1,
                                                  'button-stable':vm.registration.flaccvalue[3]!==1,
                                                  'button button-block flacc-button pain-button': true}">
               Klynker, klager sig af og til
            </button>
         </div>
         <div class="col">
            <button ng-click="vm.selectFlacc(3,2)" ng-class="{'button-dark':vm.registration.flaccvalue[3]===2,
                                                  'button-stable':vm.registration.flaccvalue[3]!==2,
                                                  'button button-block flacc-button pain-button': true}">
               Græder uafbrudt, skriger eller klager sig hyppigt
            </button>
         </div>
      </div>

      <h4 class="flacc-title">Trøstbarhed</h4>
      <div class="row responsive-md flacc-row">
         <div class="col">
            <button ng-click="vm.selectFlacc(4,0)" ng-class="{'button-dark':vm.registration.flaccvalue[4]===0,
                                                  'button-stable':vm.registration.flaccvalue[4]!==0,
                                                  'button button-block flacc-button pain-button': true}">
               Tilfreds, afslappet
            </button>
         </div>
         <div class="col">
            <button ng-click="vm.selectFlacc(4,1)" ng-class="{'button-dark':vm.registration.flaccvalue[4]===1,
                                                  'button-stable':vm.registration.flaccvalue[4]!==1,
                                                  'button button-block pain-button': true}">
               Kan beroliges ved berøring, ved at blive talt til og kan afledes fra smerten
            </button>
         </div>
         <div class="col">
            <button ng-click="vm.selectFlacc(4,2)" ng-class="{'button-dark':vm.registration.flaccvalue[4]===2,
                                                  'button-stable':vm.registration.flaccvalue[4]!==2,
                                                  'button button-block flacc-button pain-button': true}">
               Vanskelig at trøste eller utrøstelig
            </button>
         </div>
      </div>
      <!-- <h3 style="text-align: center">Score:</h3>

      <h1 style="text-align: center">{{vm.registration.painScore}}</h1> -->
   </div>
   <div ng-show="!vm.show" style="clear: right;" class="top-margin padding">
      <div class="smiley-one-row">
         <div class="row responsive-md">
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 0 ? 'url(/smiley0selected.png)':'url(/smiley0.png)' }"
                    ng-click="vm.selectSmiley(0)"></div>
            </div>
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 2 ? 'url(/smiley2selected.png)':'url(/smiley2.png)' }"
                    ng-click="vm.selectSmiley(2)"></div>
            </div>
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 4 ? 'url(/smiley4selected.png)':'url(/smiley4.png)' }"
                    ng-click="vm.selectSmiley(4)"></div>
            </div>
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 6 ? 'url(/smiley6selected.png)':'url(/smiley6.png)' }"
                    ng-click="vm.selectSmiley(6)"></div>
            </div>
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 8 ? 'url(/smiley8selected.png)':'url(/smiley8.png)' }"
                    ng-click="vm.selectSmiley(8)"></div>
            </div>
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 10 ? 'url(/smiley10selected.png)':'url(/smiley10.png)' }"
                    ng-click="vm.selectSmiley(10)"></div>
            </div>
         </div>
      </div>
      <div class="smiley-two-row">
         <div class="row">
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 0 ? 'url(/smiley0selected.png)':'url(/smiley0.png)' }"
                    ng-click="vm.selectSmiley(0)"></div>
            </div>
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 2 ? 'url(/smiley2selected.png)':'url(/smiley2.png)' }"
                    ng-click="vm.selectSmiley(2)"></div>
            </div>
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 4 ? 'url(/smiley4selected.png)':'url(/smiley4.png)' }"
                    ng-click="vm.selectSmiley(4)"></div>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 6 ? 'url(/smiley6selected.png)':'url(/smiley6.png)' }"
                    ng-click="vm.selectSmiley(6)"></div>
            </div>
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 8 ? 'url(/smiley8selected.png)':'url(/smiley8.png)' }"
                    ng-click="vm.selectSmiley(8)"></div>
            </div>
            <div class="col">
               <div class="image responsive"
                    ng-style="{'background-image': vm.selectedSmiley == 10 ? 'url(/smiley10selected.png)':'url(/smiley10.png)' }"
                    ng-click="vm.selectSmiley(10)"></div>
            </div>
         </div>
      </div>


      <br>
      <div class="row responsive-md">
         <div class="col" style="text-align:center">
            <h3>{{ vm.smileyDescription }}</h3>
         </div>
      </div>

      <!--&lt;!&ndash; extends scrolling area so bottom doesnt get covered up by wizard &ndash;&gt;-->
      <!--<div style="visibility: hidden" class="row">-->
      <!--<div style="height: 100px" class="col">Placeholder text</div>-->
      <!--</div>-->
   </div>

</div>
