<div style="width: 100%" class="top-margin padding-horizontal-50"
     ng-controller="painController as vm">

    <h3 class="center-horizontal">Hvor er smerten?</h3>
    <br>

   <div class="padding-horizontal-50">
        <button ng-click="vm.selectPainType('mave')"
                ng-class="{
                'button-dark':vm.registration.painType == 'mave',
                'button-stable':vm.registration.painType != 'mave',
                'button button-block': true}">Mave
        </button>
        <button ng-click="vm.selectPainType('ben')"
                ng-class="{
                'button-dark':vm.registration.painType == 'ben',
                'button-stable':vm.registration.painType != 'ben',
                'button button-block': true}">Ben
        </button>
        <button ng-click="vm.selectPainType('arme')"
                ng-class="{
                'button-dark':vm.registration.painType == 'arme',
                'button-stable':vm.registration.painType != 'arme',
                'button button-block': true}">Arme
        </button>
        <button ng-click="vm.selectPainType('hoved')"
                ng-class="{
                'button-dark':vm.registration.painType == 'hoved',
                'button-stable':vm.registration.painType != 'hoved',
                'button button-block': true}">Hoved
        </button>
        <button ng-click="vm.selectPainType('andet')"
                ng-class="{
                'button-dark':vm.registration.painType == 'andet',
                'button-stable':vm.registration.painType != 'andet',
                'button button-block': true}">Andet
        </button>
    </div>
</div>
