<div id="Morphine" class="padding-horizontal"
     ng-controller="painController as vm">

    <div style="width: 100%" class="top-margin">

        <h3 class="center-horizontal" translate>pain.howMuchMorphine</h3>
        <br>

        <div class="padding-horizontal-50">
            <label class="item item-input item-select">
                <span class="input-label" translate>
                 pain.administrationType
                </span>
                <select ng-change="vm.updateRegistration()"
                        ng-model="vm.registration.morphineType">
                    <option value='pain.oral' translate>pain.oral</option>
                    <option value='pain.intravenous' translate>pain.intravenous</option>
                </select>
            </label>

            <div class="item item-input padding-right">
            <span class="input-label"
                  style="width: initial;" translate>pain.dose</span>
                <input type="number"
                       min="0"
                       style="direction: rtl;"
                       ng-change="vm.updateRegistration()"
                       ng-model="vm.registration.morphineDose">

                <select class="item item-input item-select"
                        ng-change="vm.updateRegistration()"
                        ng-model="vm.registration.morphineMeasureUnit">
                    <option value='pain.mg' translate>pain.mg</option>
                    <option value='pain.mgHour' translate>pain.mgHour</option>
                    <option value='pain.mgDay' translate>pain.mgDay</option>
                </select>
            </div>
        </div>
    </div>
</div>