<div id="Morphine" class="padding-horizontal"
     ng-controller="painController as vm">

   <div style="width: 100%" class="top-margin">

      <h3 class="center-horizontal">Hvor meget morfin er givet?</h3>
      <br>

      <div class="padding-horizontal-50">
         <label class="item item-input item-select">
                <span class="input-label">
                 Administration type:
                </span>
            <select ng-change="vm.updateRegistration()"
                    ng-model="vm.registration.morphineType">
               <option value='oral'>Tablet</option>
               <option value='intravenous'>Intravenous</option>
            </select>
         </label>

         <div class="item item-input padding-right">
            <span class="input-label">Dosis:</span>
            <input type="number"
                   min="0"
                   style="direction: rtl;"
                   ng-change="vm.updateRegistration()"
                   ng-model="vm.registration.morphineDose">

            <select class="item item-input item-select"
                    ng-change="vm.updateRegistration()"
                    ng-model="vm.registration.morphineMeasureUnit">
               <option value='mg'>mg</option>
               <option value='mg/time'>mg/time</option>
               <option value='mg/døgn'>mg/døgn</option>
            </select>
         </div>
      </div>
   </div>
</div>