<ion-side-menus enable-menu-with-back-views="false">
   <ion-side-menu-content>
      <ion-nav-bar class="bar-stable bar-positive">
         <ion-nav-back-button>
         </ion-nav-back-button>

         <ion-nav-buttons side="right">
            <!-- <button ng-if="isNative!==true" class="button button-icon button-clear ion-navicon" menu-toggle="right">
            </button> TODO: Re-enable when distinction between patient groups is in place -->
         </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
   </ion-side-menu-content>

   <ion-side-menu side="right">
      <ion-header-bar class="bar-stable">
         <h1 class="title" translate>sidemenu.treatments</h1>
      </ion-header-bar>
      <div ng-controller="pdfController as vm">
         <ion-content>
            <h4 class="group-title" translate>sidemenu.leukemia</h4>
            <ion-list>
               <ion-item menu-close ng-click="vm.openUrl('standard_intensiv')" translate>
                   sidemenu.l_standard
               </ion-item>
               <ion-item menu-close ng-click="vm.openUrl('intermediaer_intensiv')" translate>
                   sidemenu.l_intermediate
               </ion-item>
               <ion-item menu-close ng-click="vm.openUrl('intermediaer_intensiv_cns3')" translate>
                   sidemenu.l_intermediate_cns3
               </ion-item>
               <ion-item menu-close ng-click="vm.openUrl('hoej_intensiv')" translate>
                   sidemenu.l_high
               </ion-item>
            </ion-list>
             <h4 class="group-title" translate>sidemenu.arthritis</h4>
         </ion-content>
      </div>
   </ion-side-menu>
</ion-side-menus>